.wrapper {
  height: 100vh;
  --padding-top: 44px;
}
.wrapper__inner {
  --padding-top: 55px;
  --padding-start: 24px;
  --padding-end: 24px;
  position: relative;
}
.wrapper__inputs {
  margin-bottom: 30px;
}
.wrapper__icon {
  position: absolute;
  left: 12px;
  top: 231px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border: 5px solid white;
}
