.account {
  height: 100vh;
  --padding-top: 44px;
}
.account__img {
  height: calc(100vw * 1 / 2);
  width: 100vw;
  object-fit: cover;
}

.account__content {
  position: relative;
}

.account__item {
  position: absolute;
  left: 0px;
  top: -30px;
  --background: rgba(0, 0, 0, 0);
  --border-color: rgba(0, 0, 0, 0);
  width: 100%;
  --padding-start: 10px;
}
.account__info {
  display: flex;
  flex-flow: column;
  margin-top: auto;
  margin-bottom: 20px;
}
.account__name {
  font-size: 20px;
  font-weight: 800;
}
.account__uid {
  font-size: 14px;
  color: gray;
}
.account__avatar {
  width: 80px;
  height: 80px;
  border: 5px solid white;
  margin: 12px 12px 12px 0px;
}
.account__description {
  padding-top: 65px;
  --background: rgba(0, 0, 0, 0);
  --border-color: rgba(0, 0, 0, 0);
  width: 100%;
  --padding-start: 10px;
  font-size: 12px;
  line-height: 14px;
}
.account__counts {
  --padding-start: 0px;
  --border-color: rgba(0, 0, 0, 0);
  margin-top: 10px;
}
.account__counts__item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.account__counts__border {
  height: 60%;
  width: 1px;
  background: gray;
}
.account__counts__item__count {
  font-weight: 700;
  margin-bottom: 2px;
}
.account__counts__item__sub {
  font-size: 10px;
  color: gray;
}
.posts__img {
  width: calc(100vw * 3 / 10);
  height: calc(100vw * 3 / 10);
  object-fit: cover;
}
ion-slide {
  flex-wrap: wrap;
  padding: 0 auto;
}
ion-card {
  margin: 4px;
}
.account__content__segment {
  margin: 24px auto 6px auto;
  width: 80%;
}
.account__content__segment__button {
  padding: 2px 0px;
}
.active {
  color: orange;
  width: 24px;
  height: 24px;
}
.negative {
  width: 24px;
  height: 24px;
}
.settings_item {
}
