.header {
  position: relative;
}
.search {
  height: calc(100vh / 2);
}
ion-searchbar {
  padding-bottom: 0px !important;
  height: 44px !important;
  padding-top: 0px !important;
}
.searchbar-input-container {
  height: 32px !important;
}
